.info {
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 25%);
    padding: 35px 25px 16px 25px;
    &__img {
        width: 100px;
        img {
            width: 100%;
        }
    }
}

.followers {
    display: flex;
    &__img {
        width: 20px;
        img {
            width: 100%;
        }
    }
}